@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.first-section{
  background-color: #264653;
}
body{
  font-family: 'Poppins', sans-serif;
}
.button-color{
  background-color: #E76F51;
  color: whitesmoke;
  padding: 10px 50px;
}
.img-gray{
  filter: grayscale(100%);
}
.font-orange{
  color: rgb(223, 59, 0);
  font-weight: 500;
}
.img-rounded{
  border-radius: 50%;
}
.not-filled{
  background: none;
}
a{
  text-decoration: none;
}
.first-section{
  font-weight: 300;
  font-size: 16px;
  color: #E0E0E0;
}
.third-margin{
  margin-top: 150px;
}
.color-client{
  color: #E76F51;
}
.client-text{
  font-weight: 400;
  font-size: 16px;
  color: #6C6C6C;
}
h6{
  color: #23A6F0;
  font-weight: 600;
  font-size: 14px;
  margin: 10px;
}
.font-orange2{
  color: #E77C40;
}