@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.first-section{
  background-color: #264653;
}
.h1-size{
  font-family: 'Poppins', sans-serif;
}
.button-color{
  background-color: #E76F51;
  color: whitesmoke;
  padding: 10px 50px;
}